<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marksapplication.app">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".addItemImage"
            android:exported="false"
            android:theme="@style/AppTheme.customTheme" />

        <activity
            android:name=".employeelist12"
            android:exported="false"
            android:theme="@style/AppTheme.customTheme" />

        <activity
            android:name=".ItemSettings18"
            android:exported="false" />
        <activity
            android:name=".removeemployee13"
            android:exported="false" />
        <activity
            android:name=".employeesettings10"
            android:exported="false" />
        <activity
            android:name=".edititems16"
            android:exported="false" />
        <activity
            android:name=".finalizesale6"
            android:exported="false" />
        <activity
            android:name=".itemdetails7"
            android:exported="false" />
        <activity
            android:name=".edititem9"
            android:exported="false" />
        <activity
            android:name=".additems15"
            android:exported="false" />
        <activity
            android:name=".addemployee14"
            android:exported="false" />
        <activity
            android:name=".employersettings11"
            android:exported="false" />
        <activity
            android:name=".MainnavActivity"
            android:exported="false" />
        <activity
            android:name=".SignIN1"
            android:exported="true"
            android:label="@string/title_activity_mainnav"> <!-- Set exported to true or false based on your app's requirements -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.marksapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"> <!-- Change this authority as needed -->
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths"/> <!-- Define your file_paths.xml file -->
        </provider>
    </application>

</manifest>